<div class="row">    
    <div class="col-md-4 col-md-offset-4">
        <div class="task-container">
            <h4>Tasks</h4>
            <div id="unassigned" class="task-list">
            </div>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="task-container">
            <h4>User 1</h4>
            <div id="user1" class="task-list">
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="task-container">
            <h4>User 2</h4>
            <div id="user2" class="task-list">
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="task-container">
            <h4>User 3</h4>
            <div id="user3" class="task-list">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        fetchTasks();
        
    })

    var fetchTasks = function () {
        $.get("api/Tasks").done(function (result) { sortTasks(result) });
    }

    var sortTasks = function (tasks) {
        $.each(tasks, function (i, item) {
            if (item.UserID === 1)
                generateButton($('#user1'), item);
            else if (item.UserID === 2)
                generateButton($('#user2'), item);
            else if (item.UserID === 3)
                generateButton($('#user3'), item);
            else
                generateButton($('#unassigned'), item);
        });
        enableDragAndDrop();
    }

    var generateButton = function (list, item) {
        list.append('<button class="btn btn-block" draggable="true" id="task' + item.ID + '">' + item.Name + '</button>');
    }

    var enableDragAndDrop = function () {
        $('.task-list').on('dragover', function (e) {
            e.preventDefault();
        });
        $('.task-list').on('drop', function (e) {
            e.preventDefault();
            var data = e.originalEvent.dataTransfer.getData('Text');
            this.appendChild(document.getElementById(data));
        });
        $('.task-list button').on('dragstart', function (e) {
            e.originalEvent.dataTransfer.setData('Text', e.target.id);
        });
    }
    
</script>